{% extends "base.jinja2" %}
{% block menu}
    {% if request.has_permission('edit') %}
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li><a href="login">Log in</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<form method=post action="">
    <div>{{form.title.label}}: {{form.title()}}</div>
    <div>{{form.text.label}}: {{form.text()}}</div>
    <p><input type=submit value=Submit></p>
</form>
{% endblock %}
