{% extends 'base.jinja2' %}
{% block menu}
{% if request.has_permission('edit') %}
<li><a href="/logout">Logout</a></li>
<li><a href="/add">Add New Post!</li
{% else %}
<li><a href="login">Log in</a></li>
{% endif %}
{% endblock %}

{% block content%}
    <article class="entries">
        {% for entry in entries %}
        <h3><a href="/entries/{{ entry.id }}">{{ entry.title }}</a></h3>
        <p>{{ entry.created }}</p>
        {% endfor %}
    </article>
{% endblock %}
