{% extends "base.jinja2" %}
{% block content %}
<form method=POST action="login">
    Username:<input id="Username" type="text"></input>
    Password:<input id="Password" type="password"></input>
    <div></div>
    <p><input type=submit></p>
</form>
{% endblock %}
